<!DOCTYPE html>
<html lang="en" ng-app='superheroesApp'>
<head>
  <meta charset="UTF-8">
  <title>Superhero Phone Book</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<div>
  <h1>Search</h1>
  <input type="text" ng-model="searchText">
</div>
<hr>
  <div>
    <input type="text" ng-model="vm.newSuperhero.name">
    <input type="text" ng-model="vm.newSuperhero.number">
    <input type="text" ng-model="vm.newSuperhero.group">
    <input type="text" ng-model="vm.newSuperhero.img">
    <button ng-click="vm.addSuperhero()">Add Superhero</button>
  </div>
<body ng-controller="SuperheroController as vm">
  <div ng-repeat="superhero in vm.superhero | filter: searchText" ng-class= "superhero.group.toLowerCase()">
    <p>{{superhero.name}} </p>
    <p>{{superhero.number}}</p>
    <p>{{superhero.group}}</p>
      <button ng-click="superheroImage = !superheroImage"> See Superhero</button>
      <img src="{{superhero.img}}" alt="super hero" height="60px" width="60px" ng-show="superheroImage">
  </div>
</body>
</html>
